<section class="hero-container">
  <div class="text-zone container text-center">
    <h1>{{ contact.name }} {{ contact.surname }}</h1>
    <h2>FullStack Developer</h2>
    <div class="disponible-badge">
      <span class="punto"></span>
      <span class="texto">En busca de empleo</span>
    </div>
    
  </div>

  <div class="btns">
    <h3>{{ contact.description }}</h3>
    <a href="assets/mi-cv.pdf" download class="button alternative">
      <i class="fas fa-download"></i> <span class="text">Descargar CV</span>
    </a>
  
    <a href="https://github.com/Coritah" target="_blank" class="button alternative">
      <i class="fab fa-github"></i> <span class="text">GitHub</span>
    </a>
    
  
    <a href="https://www.linkedin.com/in/coritadev/" target="_blank" class="button alternative">
      <i class="fab fa-linkedin"></i> <span class="text">LinkedIn</span>
    </a>
    
  </div>
  
<div class="ondasbnn">
  <banner-svg></banner-svg>
</div>

  <div class="nav-btns">
    <div class="mini-btns">
      <button class="circle-glow"(click)="scrollToSection('proyectos')">
        <span class="label">Proyectos</span>
        <span class="dot"></span>
      </button>
    </div>
    <div class="mini-btns">
      <button class="circle-glow" (click)="scrollToSection('tools')">
        <span class="label">Herramientas</span>
        <span class="dot"></span>
      </button>
    </div>
    <div class="mini-btns">
      <button class="circle-glow"(click)="scrollToSection('technologies')">
        <span class="label">Tecnologías</span>
        <span class="dot"></span>
      </button>
    </div>
  </div>
</section>
<section id="proyectos">
  <projects></projects>
</section>

<section id="tools">
<tools></tools>
</section>

<section id="technologies">
  <technologys></technologys>
  </section>