<p>projects works!</p>

<div class="projects-container">
    @for (project of projects; track project.name) {
      <div class="project-card">
        <img [src]="project.image || 'default.jpg'" [alt]="project.name">
        <div class="project-info">
          <h3>{{ project.name }}</h3>
          <span>{{ project.description }}</span>
          <small>{{ project.startDate }} - {{ project.endDate }}</small>
          <ul>
            @for (tool of project.tools; track tool) {
              <li>{{ tool }}</li>
            }
          </ul>
          
        </div>
      </div>
    }
  </div>
  