<p>Proyectos Destacados</p>

<div class="projects-container">
    @for (project of projects; track project.name) {
      <div class="project-card">
        <img [src]="'assets/image/' + project.image" [alt]="project.name">
        <div class="project-info">
          <h3>{{ project.name }}</h3>
          <span>{{ project.description }}</span>
          <small>{{ project.startDate.substring(0,10) }} - {{ project.endDate.substring(0,10) }}</small>
          <ul>
            @for (tool of project.tools; track tool) {
              <li>{{ tool }}</li>
            }
          </ul>
          
        </div>
      </div>
    }
  </div>
  