p {
  font-size: 50px;
  color: white;
  padding-top: 100px;
  padding-bottom: 140px;
  text-align: center;
}
.tools-bar {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  margin:0rem 20rem 0rem 20rem;
  overflow-x: auto;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}


.tool-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.2s;
}

.tool-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tool-icon:hover {
  transform: scale(1.1);
}


.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 4;
}

.tool-modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 200px;
  height: 200px;
  max-width: 90%;
  max-height: 80vh;
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  color: white;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden; 
  text-align: center;
}

/* .modal-content h3 {
  margin: 0 0 0.5rem;
  color: white;
  text-align: center;
}

.modal-content p {
  margin: 0;
  font-size: 20px;
  color: white;
  text-align: center;
} */

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content h3,
.modal-content p {
  margin: 0 0 0.5rem;
  font-size: 20px;
  color: white;
  text-align: center;
}