:root {
  --wave-color: rgba(77, 85, 203, 0.827);
  --wave-color-dos: #6666;
  --wave-color-tres: rgba(0, 0, 0, 0.29);
  --line-color: #fff;
}

.ola-path {
  fill: var(--wave-color);
}

.ola-path-dos {
  fill: var(--wave-color-dos);
}

.ola-path-tres {
  fill: var(--wave-color-tres);
}
.linea-path {
  stroke: var(--line-color);
}
.contenedor-olas {
  position: relative;
  height: 240px;
  overflow: hidden;
}
.grupo-olas {
  position: relative;
  height: 240px;
}


.olaUno {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 3;
  animation: moverOlaUno 20s linear infinite;
}

.ola {
  display: flex;
  width: 2400px;
}

.ola svg {
  width: 1200px;
  height: 120px;
}

.olados {
  height: 90px;
  width: 100%;
  top: 0px;
}

.ola-tres {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: -1;
  margin-top: -90px;
}

.ola-mas-alta svg {
  width: 2400px;
  height: 100%;
}
.fondo,
.frente {
  position: absolute;
  top: 0;
  left: 0;
}
.volteado {
  transform: rotate(180deg);
}
.linea-path {
  stroke-width: 2;
  z-index: -3;
  fill: none;
}
.ola-linea {
  display: flex;
  width: 2400px;
  animation: moverOlaLinea 20s linear infinite;
}

.olaizquierda {
  animation: onda-izquierda 30s linear infinite;
}

.oladerecha {
  animation: onda-derecha 30s linear infinite;
}

.ola-mas-alta {
  display: flex;
  width: 4800px;
  animation: moverOla 50s linear infinite;
}

@keyframes moverOla {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2400px);
  }
}

@keyframes onda-izquierda {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1200px);
  }
}

@keyframes onda-derecha {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1200px);
  }
}
@keyframes onda-tres {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1200px);
  }
}
@keyframes moverOlaUno {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1200px);
  }
}

@keyframes moverOlaLinea {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1200px);
  }
}
.body{
  background-color: rgba(13, 13, 93, 0.67);
}