p {
  font-size: 50px;
  color: white;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}
.tech-card {
    background-color: rgba(0, 0, 0, 0.6); 
    border-radius: 15px;
    padding: 20px;
    color: white;
    height: 100%;
  }
  h2, h3 {
    text-align: center;
  }