<p>Tecnologías</p>
<div class="container py-5">
  <div class="row g-4">
    
    <div class="col-12 col-md-6 col-xl-4">
      <div class="tech-card">
        <h3>Lenguajes</h3>
        <ul>
          @for (lang of technologies.languages; track lang.name) {
            <li><strong>{{ lang.name }}:</strong> {{ lang.description }}</li>
          }
        </ul>
      </div>
    </div>

    <div class="col-12 col-md-6 col-xl-4">
      <div class="tech-card">
        <h3>Frameworks</h3>
        <ul>
          @for (fw of technologies.frameworks; track fw.name) {
            <li><strong>{{ fw.name }}:</strong> {{ fw.description }}</li>
          }
        </ul>
      </div>
    </div>

    <div class="col-12 col-md-6 col-xl-4">
      <div class="tech-card">
        <h3>Bases de Datos</h3>
        <ul>
          @for (db of technologies.databases; track db.name) {
            <li><strong>{{ db.name }}:</strong> {{ db.description }}</li>
          }
        </ul>
      </div>
    </div>

    <div class="col-12 col-md-6 col-xl-4">
      <div class="tech-card">
        <h3>Servicios en la nube</h3>
        <ul>
          @for (cs of technologies.cloudServices; track cs.name) {
            <li><strong>{{ cs.name }}:</strong> {{ cs.description }}</li>
          }
        </ul>
      </div>
    </div>

    <div class="col-12 col-md-6 col-xl-4">
      <div class="tech-card">
        <h3>Runtimes</h3>
        <ul>
          @for (rt of technologies.runtimes; track rt.name) {
            <li><strong>{{ rt.name }}:</strong> {{ rt.description }}</li>
          }
        </ul>
      </div>
    </div>

    <div class="col-12 col-md-6 col-xl-4">
      <div class="tech-card">
        <h3>Control de versiones</h3>
        <ul>
          @for (vc of technologies.versionControl; track vc.name) {
            <li><strong>{{ vc.name }}:</strong> {{ vc.description }}</li>
          }
        </ul>
      </div>
    </div>

  </div>
</div>
