<h1> Cora Y. Courbenas </h1><div class="punto"></div> 

<h2>FullStack Developer</h2>

<div class="btns">
<button class="button alternative">
  <i class="fas fa-download"></i> Descargar CV
</button>

<button class="button alternative">
  <i class="fab fa-github"></i> GitHub
</button>

<button class="button alternative">
  <i class="fab fa-linkedin"></i> LinkedIn
</button>
</div>



<div class="nav-btns">
  <div class="mini-btns">
    <button class="circle-glow">
      <span class="label">Proyectos</span>
      <span class="dot"></span>
    </button>
  </div>
  <div class="mini-btns">
    <button class="circle-glow">
      <span class="label">Herramientas</span>
      <span class="dot"></span>
    </button>
  </div>
  <div class="mini-btns">
    <button class="circle-glow">
      <span class="label">Tecnologías</span>
      <span class="dot"></span>
    </button>
  </div>
  </div>