p {
    font-size: 40px;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  
  .timeline {
    display: flex;
    justify-content: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
    position: relative;
    margin: 0;
    max-width: 600px;
    width: 100%;
    padding-left: 30px;
  }
  
  ul::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: white;
  }
  
  li {
    position: relative;
    margin-bottom: 2rem;
    padding-left: 20px;
  }
  
  li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 70px;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    z-index: 1;
  }
  
  .content {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 1rem;
    border-radius: 8px;
    color: white;
  }
  
  .content h3 {
    margin: 0 0 0.3rem;
    font-size: 18px;
  }
  
  .content p {
    margin: 0;
    font-size: 16px;
    opacity: 0.9;
  }
  
  .content span {
    font-size: 14px;
    opacity: 0.7;
  }
  .institution {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .academy-logo {
    width: 130px;
    height: 30px;
    object-fit: contain;
    border-radius: 4px;
  }
  