<p>Formación Académica</p>

<div class="timeline">
  <ul>
    @for (entry of academy; track entry.name) {
      <li>
        <div class="content">
          <h3>{{ entry.degree }}</h3>
          <p class="institution">
            <img [src]="'assets/image/' + entry.image" [alt]="entry.name" class="academy-logo" />
            {{ entry.name }}
          </p>
          <small>
            Inicio: {{ entry.startDate.substring(0, 10) }}<br>
            Fin: {{ entry.endDate.substring(0, 10) }}
          </small>
          
        </div>
      </li>
    }
  </ul>
</div>
